<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <iframe
        width="800"
        height="500"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRfg71ed7OyePHRdwN2TT0Y11lLiJr9TO03b6RAEvV6KwppFeq8g6oXTpFMZJFAWwQS2Yb_zm22-_Vx/pubhtml?widget=true&amp;headers=false"
      ></iframe>
    </div>
    <div class="col-2" id="rightMenu">
      <div class="pl-2 text-justify" id="menu">
        <div class="container-fluid">
          <div class="row">
            <div
              class="nav flex-column nav-pills text-center"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <h3 class="mb-3">Reportes</h3>
              <a
                class="nav-link mb-2"
                id="v-pills-settings-tab"
                data-toggle="pill"
                routerLink="/GestionTecnologiaBiomedica"
                role="tab"
                aria-controls="v-pills-settings"
                aria-selected="false"
                >Informe Graficas</a
              >
              <a
                class="nav-link mb-2"
                id="v-pills-settings-tab"
                data-toggle="pill"
                routerLink="/GestionTecnologiaBiomedica"
                role="tab"
                aria-controls="v-pills-settings"
                aria-selected="false"
                >Informe Datos</a
              >
              <a
                class="nav-link active mb-2"
                id="v-pills-settings-tab"
                data-toggle="pill"
                routerLink="/Costos1Excel"
                role="tab"
                aria-controls="v-pills-settings"
                aria-selected="false"
                >Visualizar Excel</a
              >
            </div>
            <div class="container-fluid" id="submitBtn">
              <div class="row">
                <div class="col-12 text-center">
                  <button type="button" class="btn btn-success btn-block">
                    <a
                      href="https://docs.google.com/spreadsheets/d/1F3WqtHXGiHp5C6FOrEZhE6uTi0DXnrmAOvvXtElWM9o/export?format=xlsx&id=1F3WqtHXGiHp5C6FOrEZhE6uTi0DXnrmAOvvXtElWM9o"
                    >
                      Obtener datos .xlsx
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
